body {
    margin: 0;
    font-family: Comic Sans;
    background: #FFFACD;
    color: #FF4500;
}
h1, h2 {
    font-family: Sunny;
    color: #FFD700;
}
a {
    color: #FF6347;
}
section {
    padding: 3rem;
}